/*
.roboto-<uniquifier> {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    }
.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}


.quicksand-<uniquifier> {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

/*---------------------------------------------------------
GENERIC
---------------------------------------------------------*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *::after{
    box-sizing: inherit;
}

/*---------------------------------------------------------
ELEMENTS
---------------------------------------------------------*/
/*Base*/
body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}

.wrapper{
    max-width: 110rem;
    margin: 0 auto;
}

/*Element texte*/
h1{
    margin: 0;
}

/*---------------------------------------------------------
COMPONENTS
---------------------------------------------------------*/
/*Header*/
header{
    background-color: #34495E;
    padding: 44px 0;
}

header h1{
    font: 900 9.6rem "Roboto";
    color: white;
    letter-spacing: 0.36em;
    white-space: nowrap;
}

/*Slogan*/
h2{
    font: 100 4.8rem "Lato";
    letter-spacing: 0.055em;
    text-align: right;
}

/*Regles*/
.regles .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-content: center;

}
.regles article{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 1rem 5rem;
}

.article_gauche{
    display: flex;
    justify-content: flex-end;
}

.boite_gauche{
    order: 1;
}



.regles a{
    text-decoration: none;
    color:black ;
    
}

.regles a:hover{
    background-color:#BDC3C7 ;
}

.regles h3{
    font: 400 3.6rem "Quicksand";
    
}

.boite{
    display: flex;
    width: 21rem;
    height: 21rem;
    border: #D35400 0.5rem solid;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.boite p{
    font: 700 3rem "Quicksand";
    color: #D35400;
    letter-spacing: 0.055em;
}

/*Info*/
.info .wrapper{
    padding-top:50px ;
    padding-bottom:50px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.info p{
    font: 2rem "Roboto";
    line-height: 40px;
    margin: 0;
}

/*Footer*/
footer{
    background-color: #2980B9;
    padding: 25px 0;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font: 700 2rem "Roboto";
}

footer a{
    display: flex;
    width: 50px;
    height: 50px;
    border: #BDC3C7 0.3rem solid;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

